* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #000000;
  --text-color: #d1d1d1;
  --highlight-color: #ffffff;
}

@font-face {
  font-family: goldenbook-bold;
  src: url(/fragments/fonts/Goldenbook_Bold.otf);
}

@font-face {
  font-family: goldenbook-light;
  src: url(/fragments/fonts/Goldenbook_Light.otf);
}

@font-face {
  font-family: goldenbook-regular;
  src: url(/fragments/fonts/Goldenbook_regular.otf);
}

.unselectable {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
}

.main-logo {
  font-size: 30px;
  color: var(--text-color);
  padding-left: 100px;
  font-family: goldenbook-bold;
}

.main-logo:hover {
  color: var(--highlight-color);
}

.social-logo {
  color: var(--text-color);
  background: none;
  font-size: 25px;
  padding: 10px;
}

.social-logo:hover {
  color: var(--highlight-color);
  cursor: pointer;
}

.social-logo-container {
  padding: 100px;
  padding-bottom: 0;
  padding-top: 0;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-body {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: var(--bg-color);
  overflow: hidden;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--bg-color);
}

.footer-box {
  display: flex;
  color: var(--text-color);
  padding: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: bold;
}

.link:hover {
  color: var(--highlight-color);
  cursor: pointer;
  font-family: goldenbook-bold;
}

.sliding-background {
  display: flex;
  flex: 1;
  overflow: hidden;
}

#bg-vid {
  min-width: 100%;
  position: absolute;
}

.menu {
  display: flex;
  color: var(--text-color);
  font-family: goldenbook-light;
}

.menu-btn {
  padding: 1rem;
}

.border-right {
  border-right: 1px solid var(--text-color);
}

.centerbox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 35%;
  z-index: 1;
  border-radius: 10px;
  background-color: var(--bg-color);
}

.mint-btn {
  color: var(--text-color);
  border-radius: 10px;
  background-size: 200%;
  background-image: linear-gradient(90deg, #b600ff, #ff008f);
  background-position: left;
  transition: background-position 1s;
  font-size: 3rem;
  width: 90%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: goldenbook-bold;
}

.mint-btn:hover,
.mint-btn:focus {
  cursor: pointer;
  font-style: italic;
  background-position: right;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@media only screen and (max-width: 650px) {
  .main-logo {
    padding-left: 10px;
  }

  .social-logo-container {
    padding: 0;
    padding-right: 10px;
  }

  .centerbox {
    width: 75%;
    height: 25%;
  }

  .footer-box {
    padding: 0;
  }

}

@media only screen and (max-width: 850px) {
  .main-logo {
    padding-left: 10px;
  }

  .social-logo-container {
    padding: 0;
    padding-right: 10px;
  }

  .centerbox {
    width: 50%;
    height: 20%;
  }

  .footer-box {
    padding: 0;
  }

}
